.burger {
    display: inline-flex;
    width: 1.333rem;
    height: 1.1rem;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 4%;
    right: 3%;
    z-index: 15;
    display: none;

    @include tablet {
        display: inline-flex;
    }
}



.burger__line {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 8px;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}
    