.footer__container {
    height: 5.1rem;
    background-color: #fff;
    color: black;
    font-size: 1.167rem;
    font-weight: 400;
    padding-left: 4.4rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}