.header {
    color: #fff;
    padding-top: 1.5rem;

&__container {
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
    }

    @include tablet {
        background-color: rgb(25, 104, 177);
        width: 110%;
        height: 5rem;
    }
}

.header__contact__phoone {
    white-space: nowrap;
    
    @include tablet {
        display: none;
    }
}
