.menu {
    @include tablet {
        display: none;
    }

    display: flex;
    font-size: 1rem;
    &__list {
        display: flex;
        justify-content: space-between;
        width: 35.4rem;
    }
    &__item {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        font-weight: 700;
    }
    &__point {
        white-space: nowrap;
    }
}